/* CourseCard.css */

.course-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;

    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.course-description {
    margin-top: 10px;
}

.course-author {
    margin-top: 10px;
    font-style: italic;
}

.course-price {
    margin-top: 10px;
    font-weight: bold;
    color: #007bff;
}